wp-config.php
.htaccess
.DS_Store
/wp-content/ai1wm-backups/*
/wp-content/aiowps_backups/*
/wp-content/cache/*
ai4atm.code-workspace
wp-content/plugins/all-in-one-wp-migration/storage/error.log
ai4atm/wpallimport/logs/*
ai4atm/wpallimport/uploads/*
ai4atm/wpallimport/files/*
wp-content/plugins/wordpress-seo__/*